<!DOCTYPE html>
<html>

<head>
  <title>Utopian Tip</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <center>
    <h2>Login now to give a tip to the best comments!</h2>
  </center>
  <center>
    <a href="/auth" class="button">Login</a>
  </center>
</body>

</html>
